@charset "utf-8";
body {margin: 0px;padding: 0px;font-family: "宋体";font-size:12px;color:#444444;background:#fff ;}
td {font-size: 12px;}
img {border:none;}
p{ text-indent:2em;}
form,input,select,button {font-size: 12px; color:#555555; vertical-align:middle;font-size: 12px; color:#333333; margin: 0px;padding: 0px;}
ul,li,h1,h2,h3,h4,h5,dl,dt,dd,em,div {margin: 0px;padding: 0px; font-style:normal; list-style:none; text-indent:0px;}
a:active{star:expression(this.onFocus=this.blur());} 
:focus{outline:none;}
::-moz-focus-inner{border:0px;outline:none;}
table{empty-cells:show;border-collapse:collapse;border-spacing:0;}

.clear {margin:0px; padding:0px; clear:both;}
.mr9{ margin-right:9px;}
.mb10{ margin-bottom:9px;}
.mb11{ margin-bottom:11px;}
.f_blue{ color:#036BC9;}
.f_red{ color:#FF0000;}
.fl{ float:left;}
.fr{ float:right;}

/* ----- Links ----- */
a {text-decoration:none; color:#444444;}
a:hover {text-decoration:none;color:#cc0000;}

/* ----- top css ----- */
.top{ height:32px; line-height:32px; background:#F7F7F7; border-bottom:1px solid #EEEEEE;}
.top dl{ width:1252px; margin:0 auto; clear:both; overflow:hidden; color:#666666;}
.top dl a{color:#666666;}
.top dl a.f_blue{ color:#036BC9;}
.buycar{ background:url(../images/buycar.jpg) no-repeat left center; padding-left:25px; }
.head{ width:1252px; margin:0 auto; clear:both; overflow:hidden; }
.logo{ margin-left:260px; margin-right:20px; _margin-left:130px;}
.search{ padding-top:25px; color:#999;}
.tags{ margin-top:10px;}
.tags a{ color:#999;}
.tags a.f_red{ color:#FF0000;}
.tel{ padding-top:25px; float:left; margin-left:20px;}

/*--------------mainbox---------------*/
.mainbox{ width:1252px; margin:0 auto; clear:both; overflow:hidden; }


/*-------------- areaTop class -------------*/
.areaTop{ clear:both; overflow:hidden;}
.category{height:auto!important; height:660px; min-height:660px; width:215px;}
.category .cgtop{height:36px; line-height:36px; background:#006ED4; padding-right:10px;}
.category .cgtop h1{ text-align:center;color:#FFF;font-family:"微软雅黑";font-size:14px; background: url(../images/arrow01.jpg) no-repeat right center;}
.catelist{ border:2px solid #39A7E4;height:auto!important; height:615px; min-height:615px; }
.sidelist{position:relative;z-index:100; margin:0px; height: 26px; padding:0; background:#FAFAFA; border-bottom:1px solid #fff;}
.sidelist .tab{height:26px;line-height:26px;position:relative;z-index:108; color:#2081B5;background: url(../images/arrow02.jpg) no-repeat 190px center; font-size:14px;}
.sidelist .tab a{ font-weight:normal; color:#333333; }
.sidelist .tab a:hover,.sidelist  a.hover{ padding-left:20px;color:#006ED4; text-decoration:none;}
.sidelist .hover{position:absolute; z-index:107; left:0; top:-1px;height:22px; width:191px;border-top:2px solid #39A7E4;border-bottom:2px solid #39A7E4;  background:#fff;}
.sidelist .r-list{display:none;position:absolute;z-index:106;left:213px;top:-1px;width:160px;padding:5px; border:2px solid #39A7E4; border-left:none;background-color:#FFFFFF}
.sidelist .r-list dl { line-height:170%; }
.sidelist .r-list dl a{ width:80px; text-align:center; float:left; }


.topr{ float:right; width:1037px;}
/*-------------- nav class -------------*/
.nav{height:36px; line-height:36px; background:#036BC9; padding:0 10px 0 8px; clear:both; overflow:hidden; }
.nav li{ float:left; padding:0 35px; font-size:14px; font-weight:bold; }
.nav li a{ color:#fff;}
.banner{ margin-left:10px; margin-top:10px;}
.hotli { margin-left:10px;margin-top:10px;}
.hotli li{ float:left; margin-left:1px; width:255px; height:150px;}

/*-------------- rxcp class -------------*/
.rxcp{ clear:both; overflow:hidden; margin-top:20px;}
.rxcpC{ clear:both; overflow:hidden; margin-top:10px;}
.rxcpC .le1045{ width:1045px; float:left;}
.rxcpC .ri200{ width:200px; float:right;}
.rxcpC  li{ width:260px; height:165px; float:left; border:1px solid #DCDCDC; border-top:none; border-right:none; padding:10px 0 0;}
.rxcpC  li dt{ width:140px; height:150px; float:left; margin-left:5px;}
.rxcpC  li dd{ width:110px; float:right;}
.rxcpC  li dd h1{ font-family:"黑体"; font-size:18px; color:#333; margin-top:20px;}
.rxcpC  li dd p{ color:#C10000; font-family:Arial; font-size:18px; font-weight:bold; text-indent:0; margin:0; margin-top:15px;}
.rxcpC  li dd a{ margin-top:20px; display:block;}

/*-------------- mptm class -------------*/
.mptm{ clear:both; overflow:hidden; margin-top:20px;}
.mptmC{ clear:both; overflow:hidden; margin-top:20px;}
.mptmC li{ width:209px; float:left;border-right:1px solid #DCDCDC; padding:10px 20px;text-align:center;  }
.mptmC li p{ font-family:"微软雅黑"; font-size:16px; text-indent:0; }
.mptmC li.rxph{ padding:0 14px; width:220px;}
.rxphC{ background:#F9F9F9;}
.mptmC li.rxph dl{ clear:both; overflow:hidden;height:70px; padding:5px 0; border-bottom:1px dashed #E0E0E0; }
.mptmC li dt{ width:80px; height:60px; border:1px solid #E8E8E8; float:left; text-align: center; padding:4px 0; background:#fff; margin-left:5px;}
.mptmC li dd{ width:120px; float:right; text-align:left; font-size:16px; color:#C10000;font-weight:bold;}
.mptmC li dd a{ font-size:12px; color:#747474; font-weight:normal; line-height:24px; }


/*-------------- jrtg class -------------*/
.jrtg{ clear:both; overflow:hidden; margin-top:20px;}
.jrtgC{ clear:both; overflow:hidden; margin-top:20px;}
.jrtgC li{ background:url(../images/bg_pic.jpg) no-repeat; width:370px; height:200px; padding:15px 12px 10px; float:left; margin:0 10px 20px; }
.jrtgC li .pic{ width:200px; float:left;}
.jrtgC li .picjj{ width:145px; float:right;color:#5C5C5C;}
.jrtgC li .picjj p{ text-indent:0; border-bottom:1px solid #D4D4D4; padding-bottom:5px; line-height:20px; _padding-bottom:0px; }
.picjj h1{font-family:"微软雅黑"; font-size:18px; color:#D30003; margin-top:5px; _margin-top:0px;}
.picjj em{ color: #C10000; display:block;font-family: Arial; font-size: 18px;font-weight: bold;margin: 15px 0 0;}
.picjj  a{ display:block; float:right;}

.ad{ clear:both; overflow:hidden; margin:10px 0;}

/*-------------- bxcs class -------------*/
.bxcs{ clear:both; overflow:hidden; margin-top:20px;}
.bxcsC{ clear:both; overflow:hidden; margin-top:20px;}
.bxcsC .le835{ width:835px; float:left;}
.bxcsC .ri400{ width:400px; float:right;}
.le835 li{ width:170px;float:left; text-align:center;  margin:0px 19px 10px; height:238px; _margin:0px 16px 10px;}
.le835 li b{ padding-left:10px; font-size:18px; font-family:"黑体"; color:#000; font-weight:normal;}
/* slideBox  css*/
.flash{width:400px;height:465px; background:#fff;}
.slider_wrap{position:relative;width:400px;height:465px; overflow:hidden; clear:both; overflow:hidden; margin:0 auto;}
#slider_box{position:relative;width:400px;height:465px;overflow:hidden;float:left;}
#contentList li{float:left;position:relative;height:465px;}
#contentList li IMG{width:400px;height:465px;}
#previewList{position:absolute;bottom:5px;right:5px;}
#previewList li{float:left;width:50px; height:5px;text-align:center;cursor:pointer; background:#C09896; margin-right:2px; outline: medium none; text-indent:-9999; color:#fff; line-height:5px; }
#previewList li:hover,#previewList li.active{background:#43A81C;}

/*-------------- bxyp class -------------*/
.bxyp{ clear:both; overflow:hidden; margin-top:20px;}
.bxypC{ clear:both; overflow:hidden; margin-top:20px;}
.bxypC ul{ clear:both; overflow:hidden;}
.bxypC li{ width:140px;float:left; text-align:center;  border:1px dashed #DEDEDE; border-bottom:none; border-right:none; padding:20px 33px; height:190px; _padding:20px 33px;}
.bxypC li b{ font-size:14px; font-family:"微软雅黑"; color:#44BE00;}

/*-------------- bxyp class -------------*/
.bxzx{ clear:both; overflow:hidden; margin-top:20px;}
.bxzxC{ clear:both; overflow:hidden; margin-top:20px; z-index:-100;}
.bxzxC .le440{ float:left; width:440px; border:1px solid #DDDDDD; height:240px; overflow:hidden;}
.bxzxC .le440 dl{ clear:both; overflow:hidden; background:url(../images/bg_zxli.jpg) no-repeat 400px top; padding-right:45px; margin:15px 0 0; padding-bottom:17px; border-bottom:1px dashed #CBCBCB;}
.bxzxC .le440 dd{ width:70px; float:left; margin-left:15px;}
.bxzxC .le440 dt{ width:290px; float:left; margin-left:10px; line-height:21px;}
.bxzxC .le440 dt p{ margin:0; color:#999999; text-indent:0;}
.bxzxC .le440 dt a{ color:#005EA7;}

.bxzxC .le305{float:left; width:305px; border:1px solid #DDDDDD; height:240px; overflow:hidden; margin-left:10px;}
.le305C{ clear:both; overflow:hidden;}
.picyh{ width:105px; float:left; margin:10px; _margin:10px 5px;}
.le305C ul{ width:180px; float:left;}
.le305C ul li{ height:24px; line-height:24px; color:#005EA7;}
.le305C ul li a{color:#005EA7;}
.ri245{ width:245px; float:left; margin-left:10px;}
.ri215{ width:215px; float:right;}
/* slideBox  css*/
.flash1{width:245px;height:240px; background:#fff;}
.slider_wrap1{position:relative;width:185px;height:215px;clear:both;padding:10px 30px 15px; overflow:hidden; margin:0 auto; background:#E0E0E0;}
#slider_box1{position:relative;width:185px;height:215px;overflow:hidden;float:left; }
#contentList1 li{float:left;position:relative;height:215px;width:185px;}
#contentList1 li IMG{width:185px;height:215px; }
#previewList1{position:absolute;bottom:5px;right:5px;}
#previewList1 li{float:left;width:17px; height:16px;text-align:center;cursor:pointer; background:url(../images/bglioff.png) no-repeat; margin-right:2px; outline: medium none; text-indent:-9999; color:#fff; line-height:16px; }
#previewList1 li:hover,#previewList1 li.active{ background:url(../images/bglion.png) no-repeat;}

/*-------------- title01 class -------------*/
.title01{ background:url(../images/title01.jpg) no-repeat; height:77px; width:1252px; margin-bottom:10px;}
.title02{ background:url(../images/title02.jpg) no-repeat; height:77px; width:1252px; margin-bottom:10px;}
.title03{ background:url(../images/title03.jpg) no-repeat; height:77px; width:1252px; margin-bottom:10px;}
.title04{ background:url(../images/title04.jpg) no-repeat; height:77px; width:1252px; margin-bottom:10px;}
.title05{ background:url(../images/title05.jpg) no-repeat; height:77px; width:1252px; margin-bottom:10px;}
.title06{ background:url(../images/title06.jpg) no-repeat; height:77px; width:1252px; margin-bottom:10px;}
.title07{ background:url(../images/title07.jpg) no-repeat; height:77px; width:1252px; margin-bottom:10px;}


.item{display:inline;height:25px; line-height:25px; float:right; margin-right:220px; width:245px;margin-top:20px; _margin-right:120px; z-index:9999;}
.item .tab{position:relative;height:25px;}
.item .tab .switchBtn{position:absolute;top:3px;left:-40px; width:130%;}
.item .tab .switchBtn a{float:left;width:15px;height:15px;margin-left:5px;overflow:hidden;text-indent:-999px;background:url(../images/icon_arr.gif) no-repeat;outline:none;}
.item .tab .switchBtn a.prev{background-position:0 -25px;}
.item .tab .switchBtn a.prevNot{background-position:0 0;cursor:default;}
.item .tab .switchBtn a.next{background-position:right -25px; float:right;}
.item .tab .switchBtn a.nextNot{background-position:right 0;cursor:default;float:right;}
.item .tab ul{position:absolute;top:-2px;left:10px;width:245px;height:28px;overflow:hidden;}
.item .tab ul li{float:left;cursor:pointer;line-height:26px;padding:0 8px;}
.item .tab ul li.current{cursor:text;color:#000;font-weight:700;border:1px solid #C20E0E; border-top:2px  solid #C20E0E;border-bottom-color:#FFF;}
.item .items{display:none;background:#fff;padding:0 15px; border:1px solid #C20E0E; clear:both; overflow:hidden; z-index:9999;}
.item .items a{color:#000;}




.titlei2{ height:34px; line-height:34px;font-family:"微软雅黑"; font-size:18px; text-align:left; border-bottom:2px solid #E1E1E1; }
.titlei3{ height:34px; line-height:34px;font-family:"微软雅黑"; font-size:16px; text-align:left; border-top:2px solid #AAAAAA; padding-left:15px; }
.titlei4{ height:34px; line-height:34px;font-family:"微软雅黑"; font-size:14px; text-align:left; background:#F3F3F3; border-bottom:1px solid #E5E5E5; padding-left:15px; }

.titlei5 {height:45px; background:#E5E5E5; padding:0 10px;}
.titlei5 h1{ padding:0 20px; margin-top:5px;height:40px; line-height:40px;font-family:"微软雅黑"; font-size:16px; font-weight:normal;cursor:pointer;float:left; background:#E5E5E5; _padding:0 17px;}
.titlei5 h1.hover{color:#373535; background:#fff;}
.titlei5 h1 a{color:#2F2F2F;}
.titlei5 h1.hover a{color:#5990D5; text-decoration:none;}

.titlei6 {height:45px; background:#fff; border-top:2px solid #535353; line-height:45px;}
.titlei6 h1{ padding:0 30px;height:45px;font-family:"微软雅黑"; font-size:16px; font-weight:normal;cursor:pointer;float:left; background:#fff; color:#4A4A4A;}
.titlei6 h1.hover{color:#fff; background:#606060;}

.titlei7{ background:#F0F0F0; height:34px; line-height:34px; border:1px solid #c9cacf; overflow:hidden;}
.titlei7 ul li{ list-style:none; float:left; display:inline; margin:0 3px; }
.titlei7 ul li a{ color:#000;  display:block; float:left; border:1px solid #c9cacf; padding:0px 10px; background:#fff; height:20px; margin:6px 0px 5px; line-height:20px;}
.titlei7 ul li a:hover{ background:#0267C3; color:#fff;}


/*-------------- list1 class -------------*/
.list1{ position:absolute; top:24px; left:0; width:235px; padding:0 5px; clear:both; overflow:hidden;  border:1px solid #C20E0E; background:#fff;}
.list1 a{ width:40px; line-height:26px;}

/*--------------form---------------------*/
.input1{ background:url(../images/input1.jpg) no-repeat; width:423px; height:36px; padding-left:5px; border:none; color:#999999;}
.btn1{ background:url(../images/btn1.jpg) no-repeat; width:72px; height:36px; border:none;}
.ggtable { margin:20px 0;}
.ggtable td{ height:36px; border:1px solid #EBEBEB; color:#444444; padding-left:5px;}

.position{ height:40px; margin:10px 0; line-height:40px; font-size:14px; }
.position span{font-family:"微软雅黑";font-size:21px;}


/* ----- foot css ----- */
#footer { background:#F2F2F2;  margin-top:30px; clear:both; overflow:hidden;}
#footer dl{ width:1252px; margin:0px auto; line-height:20px;}
.copy{ text-align:center; padding:20px 0 10px;  color:#949494; clear:both; overflow:hidden;}
.inner{ clear:both; overflow:hidden}
.inner .item{ overflow:hidden;float:left; width:90px; margin-right:20px;padding-top:30px;}
#footer .inner .item dl{ width:90px; }
.inner .item dt{height:30px; color:#535353; font-size:14px; font-weight:bold;width:70px;  margin-bottom:10px;}
.inner .item dd{line-height:24px;width:90px; background:url(../images/arrow03.jpg) no-repeat left center; padding-left:8px;}
.inner .item dd a{ color:#818181;}
.rightfoot{ width:459px; height:114px; float:right; padding-top:24px; }

/* ----- navbox css ----- */
.navbox{ clear:both; height:36px; width:1252px; margin:0 auto; position:relative;}
.cgtop1{height:36px; line-height:36px; background:#006ED4; padding-right:10px;width:205px;}
.cgtop1 h1{ text-align:center;color:#FFF;font-family:"微软雅黑";font-size:14px; background: url(../images/arrow01.jpg) no-repeat right center;}
ul#topnav li .sub{display:none;position:absolute;top:36px;left:0;background:#fff;padding:10px;float:left; border:1px solid #ccc;}
ul#topnav li .row{clear:both;float:left;width:100%;margin-bottom:10px;}
ul#topnav li .sub ul{list-style:none;margin:0;padding:0;width:150px;float:left; background:#fff;}
ul#topnav .sub ul li h2{padding:0; margin:0;;font-family:"微软雅黑";font-size:14px;}
ul#topnav .sub ul li a{text-indent:0; height:22px; line-height:22px; float:left;padding:0px 5px;display:block;text-decoration:none;color:#888; _display:inline;}
ul#topnav .sub ul li h2 a{padding:5px 0;background-image:none;color:#000; display:block; width:100%; text-align:center;} 
/*--------------spjj---------------------*/
.c-top{ margin:15px 5px 0; clear:both; overflow:hidden; z-index:-999;}
.c-pic{ width:390px; float:left;}
.bi-pic{ width:385px; height:400px; border:1px solid #CCCCCC; padding:1px;margin-bottom:20px; z-index:-999;}
.c-pd{ width:825px; margin-top:20px;  color:#666;  font-size:13px; float:right;}
.c-T{ font-family:"微软雅黑";font-size:21px;color:#333;}
.c-pd p{ margin: 7px 0; text-indent:0; height:28px; line-height:28px;}
.tip{ border:1px solid #eee; margin-top:15px; padding:10px 5px; background:#FAFAFA; width:540px;}
.c-pd p{ height:20px; line-height:20px;}
/*--------------hllp---------------------*/
.hllp{ clear:both; overflow:hidden; border:1px solid #E5E5E5; margin:15px 0;}
.blk_29 {OVERFLOW: hidden;ZOOM: 1;POSITION: relative; margin:0px auto; }
.blk_29 .LeftBotton { background:url(../images/prev.jpg) no-repeat;LEFT: 10px;FLOAT: left;WIDTH: 18px;CURSOR: pointer;POSITION: absolute;TOP:40px;HEIGHT: 85px}
.blk_29 .RightBotton {RIGHT: 10px;background:url(../images/next.jpg) no-repeat;FLOAT: right;WIDTH: 18px;CURSOR: pointer;POSITION: absolute;TOP: 40px;HEIGHT:85px;}
.blk_29 .Cont {MARGIN: 0px auto 0px auto;OVERFLOW: hidden;width:1160px;}
.blk_29 .Cont1 {MARGIN: 0px 40px 0px 40px;OVERFLOW: hidden;width:920px; }
.blk_29 li{ float:left; margin:10px 12px;}
.blk_29 li .pic{ width:105px; height:95px;}
.blk_29 li .pic img{width:105px; height:95px;}
.blk_29 .wzc{ width:105px; line-height:23px; text-align:center;}
.blk_29 .wzc a{ display:block;color:#4D4D4D;}

/*--------------xgfl---------------------*/
.le230{ width:230px; float:left;}
.ri995{ width:995px; float:right;}
.xgfl{ clear:both; overflow:hidden; margin-bottom:10px;}
.xgfl ul{ border:1px solid #E5E5E5; padding:10px 10px;}
.xgfl li{ height:30px; line-height:30px; border-bottom:1px dashed #B5B5B5;}
.xgfl li a{  width:90px; margin-right:3px; float:left; display:block; padding-left:5px; font-size:14px; color:#444444;}
.rxphC1{ border:1px solid #E5E5E5;}
.rxphC1 dl{ clear:both; overflow:hidden;height:70px; padding:5px 0; border-bottom:1px dashed #E0E0E0; }
.rxphC1 dl:hover{ background:#F3F3F3;}
.rxphC1 dt{ width:80px; height:60px; border:1px solid #E8E8E8; float:left; text-align: center; padding:4px 0; background:#fff; margin-left:5px;}
.rxphC1 dd{ width:120px; float:right; text-align:left; font-size:16px; color:#C10000;font-weight:bold;}
.rxphC1 dd a{ font-size:12px; color:#747474; font-weight:normal; line-height:24px; }

/*--------------sideMenu---------------------*/
.sideMenu{  border:1px solid #ddd; border-top:2px solid #7E7E7E;}
.sideMenu h3{ height:32px; line-height:32px; padding-left:10px;  border-top:1px solid #e3e3e3; background:#f4f4f4; cursor:pointer;font:normal 16px/32px "Microsoft YaHei";}
.sideMenu h3 em{ float:right; display:block; width:40px; height:32px;   background:url(../images/icoadd.png) 16px 12px no-repeat; cursor:pointer; }
.sideMenu h3.on { color:#036BCA;}
.sideMenu h3.on em{ background-position:16px -57px; }
.sideMenu ul{ padding:8px 10px; color:#999; display:none; /* 默认都隐藏 */ }
.sideMenu li{ height:32px; border-bottom:1px solid #EFEFEF; line-height:32px; font-size:13px; color:#616161;}
.sideMenu li{ color:#616161;}
/*--------------search_box---------------------*/
.search_box{ padding:0px 0px 0px 0px; margin-bottom:10px; border:1px solid #EEEEEE; }
.search_box div{ height:38px; line-height:38px; color:#00a3e8;border-bottom:1px dashed #dedede;  } 
.search_box div a{ color:#036BCA; margin:0px 6px;}
.search_box div span{  background:#F7F7F7; border-right:1px solid #EEEEEE; color:#444444; text-align:right; width:100px; padding-right:20px; display:inline-block; _display:inline;}
.allnum{ float:right; margin-right:10px;}
/*--------------prolist---------------------*/
.prolist{ clear:both; overflow:hidden;}
.prolist li{ height:300px; border:4px solid #fff; width:215px; padding:5px; float:left; margin:20px 7px 0; }
.prolist li:hover{ border:4px solid #036BCA;}
.prolist li p{ text-indent:0; line-height:36px; height:36px;color:#036BCA; margin-top:8px; border-top:1px solid #EDEDED;border-bottom:1px solid #EDEDED;}
.money{  font-family:"微软雅黑";font-size:16px; color:#E60111; margin-top:5px; display:block;}
.prolist li  a{margin-top:5px; display:block;}
.prolist li  a.jrgw{ margin-top:5px; float:right; display:block; width:95px; height:25px;}


/* ----- page ----- */
.page { clear:both; padding:21px 0px 0px 0px; text-align:center;color:#999999; margin-bottom:10px;}
.page a {color:#999999; display:inline-block; margin-left:3px; border: 1px solid #ccc; padding:0 5px; height:20px; line-height:20px;}
.page a:hover {color:#fff; margin-left:3px; border: 1px solid #0475CD; background:#0475CD; text-decoration:none;}
.page a.prev {color:#999999; margin-left:3px; border: 1px solid #F3F3F3; background:#F3F3F3; text-decoration:none;}
.page a.total{color:#999999; margin-left:3px; border: 1px solid #F3F3F3; background:#F3F3F3; text-decoration:none; margin-right:3px;}
.page a.on {color:#fff; margin-left:3px; border: 1px solid #0475CD; background:#0475CD; text-decoration:none;}
.inputpage{border: 1px solid #ccc; height: 19px; width: 36px; margin-left:3px;}
.btn_go { border: 1px solid #ccc;color: #999; cursor: pointer; width: 35px;}


/* ----- qq ----- */
#elevator_item {width: 60px;height: 230px;position: fixed;right: 15px;bottom: 15px;-webkit-transition: opacity .4s ease-in-out;-moz-transition: opacity .4s ease-in-out;-o-transition: opacity .4s ease-in-out;opacity: 1;z-index: 100020;display: none;}
#elevator_item.off {opacity: 0;visibility: hidden}
#elevator {display: block;width: 59px;height: 58px; background:url(../images/up.jpg) no-repeat;cursor: pointer;}
#elevator_item .qq {display: block;width: 59px;height: 59px;cursor: pointer;background: url(../images/qq.jpg)  center center no-repeat;}
#elevator_item .qq-popup {width: 170px;height: 200px;background: #fff;box-shadow: 0 1px 8px rgba(0,0,0,.1);position: absolute;left: -180px;bottom: 0;
border-radius: 2px;display: none;text-align: center}
#elevator_item .qq-popup .code-link {display: block;margin: 10px;color: #777}


#elevator_item .buy {display: block;width: 59px;height: 58px;cursor: pointer;background: url(../images/buy.jpg)  center center no-repeat;}
#elevator_item .buy-popup {width: 170px;height: 200px;background: #fff;box-shadow: 0 1px 8px rgba(0,0,0,.1);position: absolute;left: -180px;bottom: 0;
border-radius: 2px;display: none;text-align: center}
#elevator_item .buy-popup .code-link {display: block;margin: 10px;color: #777}

#elevator_item .wx {display: block;width: 59px;height: 54px;cursor: pointer;background: url(../images/wxx.jpg)  center center no-repeat;}
#elevator_item .wx-popup {width: 170px;height: 200px;background: #fff;box-shadow: 0 1px 8px rgba(0,0,0,.1);position: absolute;left: -180px;bottom: 0;
border-radius: 2px;display: none;text-align: center}
#elevator_item .wx-popup .code-link {display: block;margin: 10px;color: #777}


